<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />

</head>
<body>
    <div class="container">
        <header>
            <h1>Laboratory work №1</h1>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Now.Year - Молофеев Иван ИСТбд-21
        </footer>
    </div>
</body>
</html>
