@{
    ViewBag.Title = "Laboratory work №1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Калькулятор</h2>

<div class="equat">
    <h3>Ваше обработанное уравнение:</h3>
    <p>@ViewBag.Equat</p>
</div>